


  
 

*{font-family: "Roboto", sans-serif;}   
body{background-color: black ;
margin-left: 0;
margin-right: 0;
width: 100%;
height: 100%;
}
html {
  scroll-behavior: smooth;
}

  

.header{

    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
    padding: 40px 5px;
    box-sizing: border-box;
    max-width: 1330px;
    position: relative;top: -30px;
   
   font-size: x-large;
}
   
   .header nav{margin-left: 5px !important;
    position: relative;right: -140px; }
.menu{display: flex;
list-style: none;
}
.menu li{
    margin-left: 44px;
    margin-right: 40px;
    
}
.menu li a{
    color:white ; text-decoration: none;
background-image: linear-gradient(currentColor, currentColor);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 0% 2px;
transition: background-size .3s
}
.menu li a:hover{
    background-size: 100% 2px;
    color: white;
}
.logo{height: 80px;
width: 60px;position: relative;right: -60px;
position: relative;top: 7px;}
.me2{color: white;
   
margin-top: 80px;}

.me2{font-family: "Source Sans 3", sans-serif;
font-size: xx-large;
margin-left: 142px;
position: relative;top: -30px;
bottom: 30%;
}

.photo{height: 500px;
width: 400px; float: right; margin-right: 570px;
position: relative;
top: -360px;
border-radius: 17%;
transition: 1s;
animation: moveFromBottom 3.7s forwards;
}
.photo2{height: 500px;
width: 400px;float: right;
position: relative;left: 822px;
position: relative;top: -310px;
border-radius: 15%;
transition: 1s;
animation: moveFromTop 3.7s forwards;
}



.me:hover .photo{
opacity: 0.4 ;
filter: blur(3px);


}
.me .photo:hover{
opacity: 1 ;
filter: blur(0);
transform: scale(1.13);

}
.me:hover .photo2{
opacity: 0.4 ;
filter: blur(3px);}
.me .photo2:hover{
opacity: 2;
filter: blur(0);
transform: scale(1.13);
}
.menu a:after{
    display: block;
position: absolute;
left: 0; 
width: 0;
height: 2px; 
background-color: #00a650; 
content: "";
transition: width 0.3s ease-out; }

@keyframes moveFromBottom {
  0% {
      /*opacity: 0;*/
      top: 70vh; /
  }
  100% {
      /*opacity: 1;*/
      top: 40; /
  }
}

@keyframes moveFromTop {
  0% {
      /*opacity: 0;*/
      top: -70vh; /
  }
  100% {
    /* opacity: 1;*/
      top: 30; 
  }
}

@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';

$primary-color: #1e90ff;
$secondary-color: #ffe221;
$tertiary-color: #ffffff;

body {
  font-family: 'Baloo Paaji', cursive;
  background: $primary-color;
  display: flex;
  justify-content: right;
  align-items: right;
}

.container {
  width: 200px;
  height: 120px;
  position: relative;
  right: 800px;
}

h1, h2 {
  font-size: 45px;
  text-transform: uppercase;

  span {
    width: 100%;
    float: left;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-timing-function: ease;
    animation: titleAnimation 5s forwards;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;
  }

  h1 span {
    color: $tertiary-color;
    animation-delay: 6.6s !important;
  }

  h2 span {
    color: $secondary-color;
    animation-delay: 4.6s;
  }
}

h2 {
  top: -70px;
  position: absolute;

  span {
    animation-delay: 4.6s;
  }

  &:first-child {
    animation-delay: 4.2s;
  }

  &:last-child {
    color: $secondary-color;
    animation-delay: -4.2s;
  }
}

.usechrome {
  font-size: 10px;
  color: #fff;
  font-family: helvetica, arial;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  left: 0;
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    transform: scale(0.01);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(-50px);
    transform: scale(0.01);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
}

@keyframes titleAnimation2 {
  0% {
    transform: translateY(-50px);
    transform: scale(0.01);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(0);
    transform: scale(1);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
}

h1 span {
  animation-name: titleAnimation;
}

h2 span {
  animation-name: titleAnimation2;
}



.section {
  height: 70%;
  width: 100%;
}
.Aboutme {
  color: azure;
  margin-left: 100px;
  position: relative;top: -300px;
  white-space: nowrap;
}




.new-content {
  height: 100%;
  background-color: black;
  width: 100% !important;
  height: 600px;
margin-bottom: 100px !important;
box-sizing: border-box;
  width: 100%;
  padding: 20px;
  text-align: center;}
  
  
 
  
  
  

#new-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.new-content2 {
  height: 100%;
  background-color: black;
  width: 100% !important;
  height: 600px;
margin-bottom: 100px !important;
box-sizing: border-box;
  width: 100%;
  padding: 20px;
  text-align: center;
flex-direction: column;}
  
  
#new-content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Experience {
  color: azure;
  position: relative;top: -120px;
  margin-left:900px;
  white-space: nowrap;
  z-index: 2;
}
.new-content2 {
  height: 100%;
  background-color: black;
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: right;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 85%;
  height: 65%;
  margin-top: -100px;
  margin-left: 90px;

}




.grid-item {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: #333;
   
    position: relative;
    overflow: hidden !important;
    cursor: pointer;
    transition: transform 0.3s !important;
    height: 100%;
  border-radius: 5%;}
  .grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); 
    transition: transform 0.5s ease;
    transform: translateY(0); 
    z-index: 2;
  }
  
  .grid-item:hover::before {
    transform: translateY(100%); 
  }
  
  .grid-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; 
    color: white;
    padding: 20px;
    z-index: 3 ;
    opacity: 1 ;
    transition: opacity 0.5s ease ;
}

.grid-item:hover .overlay {
    opacity: 0; 
}

  
  .grid-item .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .grid-item .description {
    font-size: 16px;
    
   
  }
  
#about {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    font-size: 22px;
  
}
.skills {
 margin-left: -600px;
}
.skills2 {
  text-align: left;
}
.card {
  position: absolute;
  width: 800px;
  height: 500px;
  background-color: black;
  color: white;
  border: 3px solid white;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 1.5s cubic-bezier(0.68, 0.55, 0.27, 1.55), z-index 1.5s, opacity 1.5s;
  margin-left: -500px !important;
  margin-top: 50px !important;
  opacity: 1 !important;
}

.card:not(:first-child) {
  transform: translateX(-50px); 
  
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: transparent;
  border-radius: 20px;
}
.next-page-link {
  position: absolute;
  bottom: 130px; /* Відстань від нижнього краю */
  left: 805px; /* Відстань від лівого краю */
  text-decoration: none;
  color:azure; /* Колір тексту посилання */
  font-size: 30px;
  white-space: nowrap;
  color:white ; text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s
  
 
}

.next-page-link:hover {
  background-size: 100% 2px;
  color: white;}
  
  .next-page-link2 {
    position: absolute;
    bottom: 70px; /* Відстань від нижнього краю */
    left: 80px; /* Відстань від лівого краю */
    text-decoration: none;
    color: azure; /* Колір тексту посилання */
    font-size: 30px;
    white-space: nowrap;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    z-index: 2; /* Щоб посилання було над відео */
  }
  
  .next-page-link2:hover {
    background-size: 100% 2px;
    color: white;
  }
    
  .footer {
    background-color: black;
    border-top: 2px solid silver;
    padding: 0%;
    width: 100%;
    margin-top: auto; 
    text-align: center; 
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    position: relative;
    bottom: -15px;
  }
  

#rights {
    color: #aaa;
    font-size: 14px;
    margin-top: 10px;
}

  
  .icon:hover {
    transform: scale(1.2);
  }
  #rights {
    color: azure;
    
    position: relative;
    bottom: -10px;
    text-align: center;
    margin-left: 2px;
   
   
  }
 
  #bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Встановлюємо відео позаду всього контенту */
  }
  
  /* Збереження стилів для інших елементів */
  .new-content {
    position: relative;
    overflow: hidden; /* Запобігаємо виходу відео за межі контейнера */
  }
  .new-content {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* This is important to ensure the video doesn't cause overflow */
    z-index: 0;
  }
  
  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .new-content > *:not(video) {
    position: relative;
    z-index: 1;
  }
  .new-content2 {
    position: relative;
    overflow: hidden; /* Запобігаємо виходу відео за межі контейнера */
  }
  .new-content2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* This is important to ensure the video doesn't cause overflow */
    z-index: 0;
  }
  
  #background-video2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
 
  
  
   
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
#bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid-item:nth-child(1) {
    background-image: url('./rudenko.webp');
 
  }
  
  .grid-item:nth-child(2) {
    background-image: url('./sattva.webp');

  }
  
  .grid-item:nth-child(3) {
    background-image: url('./nove-taxi.webp');
   
  }
  
  .grid-item:nth-child(4) {
    background-image: url('./house.webp');
  
  }
  
  .grid-item:nth-child(5) {
    background-image: url('./molfar.webp');
 
  }
  
  .grid-item:nth-child(6) {
    background-image: url('./leprint-new.webp');
   
  }

  .next-page-link .arrow {
    font-size: 36px; 
    margin-left: 5px; 
}
.next-page-link2 .arrow {
  font-size: 36px; 
  margin-left: 5px; 
}

.new-content3 {
  height: 100%;
  background-color: black;
  width: 100% !important;
  height: 600px;
margin-bottom: 100px !important;
box-sizing: border-box;
  width: 100%;
  padding: 20px;
  text-align: center;
flex-direction: column;}
#new-content3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;}


  #new-content3 h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  #new-content3 p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три стовпці */
    gap: 20px; /* Відстань між картками */
    max-width: 1200px; /* Максимальна ширина контейнера */
  }
  
  .service {
    background: white;
    padding: 10px; /* Зменшення padding */
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left; /* Текст вирівняний по лівому краю */
  }
  
  .service img {
    width: 50px; /* Встановлюємо ширину для іконок */
    margin-bottom: 10px; /* Відступ знизу для іконок */
  }
  
  .service h3, .service p {
    margin-left: 10px; /* Відступ зліва для тексту */
  }
  
  .progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px; /* Відступ зверху для прогрес-бару */
    margin-left: 10px; /* Відступ зліва для прогрес-бару */
    padding: 5px; /* Додаємо padding зверху */
  }
  
  .progress {
    background-color: green;
    height: 5px;
    border-radius: 5px;
  }