


  
 

*{font-family: "Roboto", sans-serif;}   
body{background-color: black ;
margin-left: 0;
margin-right: 0;
width: 100%;
height: 100%;
}
html {
  scroll-behavior: smooth;
}

  

.header{

    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
    padding: 40px 5px;
    box-sizing: border-box;
    max-width: 1330px;
    position: relative;top: -30px;
   
   font-size: x-large;
}
   
   .header nav{margin-left: 5px !important;
    position: relative;right: -140px; }
.menu{display: flex;
list-style: none;
}
.menu li{
    margin-left: 44px;
    margin-right: 40px;
    
}
.menu li a{
    color:white ; text-decoration: none;
background-image: linear-gradient(currentColor, currentColor);
background-position: 0% 100%;
background-repeat: no-repeat;
background-size: 0% 2px;
transition: background-size .3s
}
.menu li a:hover{
    background-size: 100% 2px;
    color: white;
}
.logo{height: 80px;
width: 60px;position: relative;right: -60px;
position: relative;top: 7px;}
.me2{color: white;
   
margin-top: 80px;}

.me2{font-family: "Source Sans 3", sans-serif;
font-size: xx-large;
margin-left: 142px;
position: relative;top: -30px;
bottom: 30%;
}

.photo{height: 500px;
width: 400px; float: right; margin-right: 570px;
position: relative;
top: -360px;
border-radius: 17%;
transition: 1s;
animation: moveFromBottom 3.7s forwards;
}
.photo2{height: 500px;
width: 400px;float: right;
position: relative;left: 822px;
position: relative;top: -310px;
border-radius: 15%;
transition: 1s;
animation: moveFromTop 3.7s forwards;
}



.me:hover .photo{
opacity: 0.4 ;
filter: blur(3px);


}
.me .photo:hover{
opacity: 1 ;
filter: blur(0);
transform: scale(1.13);

}
.me:hover .photo2{
opacity: 0.4 ;
filter: blur(3px);}
.me .photo2:hover{
opacity: 2;
filter: blur(0);
transform: scale(1.13);
}
.menu a:after{
    display: block;
position: absolute;
left: 0; 
width: 0;
height: 2px; 
background-color: #00a650; 
content: "";
transition: width 0.3s ease-out; }

@keyframes moveFromBottom {
  0% {
      /*opacity: 0;*/
      top: 70vh; /
  }
  100% {
      /*opacity: 1;*/
      top: 40; /
  }
}

@keyframes moveFromTop {
  0% {
      /*opacity: 0;*/
      top: -70vh; /
  }
  100% {
    /* opacity: 1;*/
      top: 30; 
  }
}

@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';

$primary-color: #1e90ff;
$secondary-color: #ffe221;
$tertiary-color: #ffffff;

body {
  font-family: 'Baloo Paaji', cursive;
  background: $primary-color;
  display: flex;
  justify-content: right;
  align-items: right;
}

.container {
  width: 200px;
  height: 120px;
  position: relative;
  right: 800px;
}

h1, h2 {
  font-size: 45px;
  text-transform: uppercase;

  span {
    width: 100%;
    float: left;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-timing-function: ease;
    animation: titleAnimation 5s forwards;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;
  }

  h1 span {
    color: $tertiary-color;
    animation-delay: 6.6s !important;
  }

  h2 span {
    color: $secondary-color;
    animation-delay: 4.6s;
  }
}

h2 {
  top: -70px;
  position: absolute;

  span {
    animation-delay: 4.6s;
  }

  &:first-child {
    animation-delay: 4.2s;
  }

  &:last-child {
    color: $secondary-color;
    animation-delay: -4.2s;
  }
}

.usechrome {
  font-size: 10px;
  color: #fff;
  font-family: helvetica, arial;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  left: 0;
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    transform: scale(0.01);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(-50px);
    transform: scale(0.01);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
}

@keyframes titleAnimation2 {
  0% {
    transform: translateY(-50px);
    transform: scale(0.01);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(0);
    transform: scale(1);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
}

h1 span {
  animation-name: titleAnimation;
}

h2 span {
  animation-name: titleAnimation2;
}
.logo {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 1.3s ease-in-out;
  transition:         transform 1.3s ease-in-out;
}
.logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg) scale(1.1);
         
}


.section {
  height: 70%;
  width: 100%;
}
.Aboutme {
  color: azure;
  margin-left: 100px;
  position: relative;top: -300px;
  white-space: nowrap;
}




.new-content {
  height: 100%;
  background-color: black;
  width: 100% !important;
  height: 600px;
margin-bottom: 100px !important;
  
  width: 100%;
  padding: 20px;
  text-align: center;
  
  
 
  
  
  
}
#new-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#new-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#about {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    font-size: 22px;
  
}
.skills {
 margin-left: -600px;
}
.skills2 {
  text-align: left;
}
.card {
  position: absolute;
  width: 800px;
  height: 500px;
  background-color: black;
  color: white;
  border: 3px solid white;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 1.5s cubic-bezier(0.68, 0.55, 0.27, 1.55), z-index 1.5s, opacity 1.5s;
  margin-left: -600px !important;
  margin-top: 50px !important;
  opacity: 1 !important;
}

.card:not(:first-child) {
  transform: translateX(-50px); /* Збільшено для більшого ефекту віяла */
  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: transparent;
  border-radius: 20px;
}
.next-page-link {
  position: absolute;
  bottom: 130px; /* Відстань від нижнього краю */
  left: 760px; /* Відстань від лівого краю */
  text-decoration: none;
  color:azure; /* Колір тексту посилання */
  font-size: 30px;
  white-space: nowrap;
  color:white ; text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s
  
 
}

.next-page-link:hover {
  background-size: 100% 2px;
  color: white;}
