<style>
    body{background-color: black;}
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        max-width: 100%;
        *::after,*::before{content: none;}
        padding: 30px 15px;
        box-sizing: border-box;
    }
    .menu{display: flex;
    list-style: none;
    }
    .menu li{
        margin-left: 94px;
        justify-content: end ;
    }
    .logo{height: 150px;
    width: 200px;}
   
</style>